<.header>
  Account Transactions
</.header>

<%= for transaction <- @transactions do %>
  Account : <%= transaction["account"] %>
  <br /> Amount : <%= transaction["amount"] %>
  <hr />
<% end %>

<.table id="transactions" rows={@transactions}>
  <:col :let={transaction} label="Account Number"><%= transaction.title %></:col>
</.table>
